.ipdvision
	header
		background transparent !important
		img
			display none
		.logo-1
			display block
	#main, #scene02, #scene03, #scene04, #scene05,#scene06, #scene07, #scene08, #scene09
		background #fff
	#scene01
		.text1
			img
				display none
			.imgn
				display inline-block !important
		.text2
			span
				color #000 !important
	#scene02
		img
			opacity 0
	h2
		color #222 !important
	p
		color #222 !important
	.btn-morado
		background #000 !important
		color #fff !important
	a
		color #000 !important
	#showmenu ul li a
		color #fff !important
		&:before
			border 2px solid #fff
	#scene03, #scene04, #scene05,#scene06
		h2:before
			border 1px solid #000 !important
	#scene07
		h2
			border-bottom 2px solid #000
		.table
			tr
				td 
					color #000
					div
						background #000
						color #fff
	#scene08, #scene09
		h2
			border-bottom 2px solid #000
		.owl-carousel
			.item 
				h4
					color #000
			.owl-nav 
				.owl-next, .owl-prev
					&:hover
						background #000
						color #fff
			.owl-dots
				.owl-dot
					span
						background #222
					&.active
						span
							background #000
	.owl-theme .owl-nav [class*=owl-]
		color #000
	
	#pg-bienvenido
		#scene01 
			#frame01 
				.wrapper 
					.lista
						color #222
						.text-amarillo
							color #000
	#pg-registro
		#scene01
			.wrapper 
				.box-registro 
					img
						display none
					.imgn
						display  inline-block !important
					h3
						color #000
					.btn-facebook, .btn-gmail
						background #000
						color #fff !important
	#pg-formulario
		background #fff
		#scene01 
			#formulario 
				.perfil
					img
						display none
					.nimg
						display inline-block
					h3
						color #222
					.box-perfil 
						.b-datos
							&:before
								border 1px solid #000
	#completar-datos 
		.item 
			.item-input 
				.files 
					label
						border 1px solid #000
						&:hover
							background #000
	#pg-gracias, #pg-terminos
		#scene01 
			#frame01 
				.wrapper 
					.lista 
						h1
							color #000
	#fp-nav
		ul 
			li 
				a 
					span
						background #222
					&.active 
						span
							background #000
				.fp-tooltip
					color #000
	#footer-top
		.triangulo
			background #000
	.item-mas
		ul 
			li 
				.ipd-ico, &:hover
					background #000
.ipdanimation
	#particles-js, #particles1, #particles2 , #particles3
		display none
	#scene06 .mv2, #scene04 .mv2
		&:hover
			-webkit-mask-position right center !important
	#scene05 .mv1
		&:hover
			-webkit-mask-position left center !important
	#scene03 .mv1
		&:hover
			-webkit-mask-position center center !important