header
	background rgba(0,0,0,0.5)
.bg1
	background url('../img/fondo2.jpg')center no-repeat
	background-size cover
	background-attachment fixed
.bg2
	background url('../img/fondo3.jpg')center no-repeat
	background-size cover
	background-attachment fixed
#scene01
	padding-top 120px
	padding-bottom 50px
	@media(max-width 414px)
		padding-left 0px
		padding-right 0px
	#formulario
		.perfil
			color #fff
			.nimg
				display none
			h3
				font-size 18px
				font-weight 400
				span
					font-family 'Arial Black'
					font-weight 700
					text-align center
			.box-perfil
				background #fff
				font-family 'Arsenal'
				padding 20px
				color #1e1e1e
				margin-top 15px
				border-radius 25px
				box-shadow 0px 0px 6px #000
				@media(max-width 414px)
					padding 20px 5px
				h4
					font-size 14px
				.b-datos
					padding-left 30px
					@media(max-width 414px)
						padding-left 15px
					&:before
						content ""
						width 1px
						top 5px
						bottom 5px
						left 0px
						border 1px solid #712c85
						position absolute
						@media(max-width 414px)
							display none
					a
						position absolute
						color #712c85
						right 15px
						top -10px
					.btn-close
						display none
				table
					margin-bottom 0px
					tr
						td
							border 0px
							padding 0px
							font-weight 400
				form
					display none
					.form-group
						margin-bottom 5px
						.form-control
							padding 2px 5px
					.btn-morado
						background #712c85
						color #fff
						font-size 16px
						font-family 'Arsenal'
						font-weight 400
						padding 5px 15px 7px
						border-radius 25px
						margin 5px 0px 15px
						&:hover
							background #555
							
#completar-datos
	padding 50px 0px
	h4
		font-size 20px
		font-family 'Arsenal'
		font-weight 400
		padding 40px 0px
		span
			font-weight 700
	.item
		h2
			font-size 20px
			font-family 'Arsenal'
			font-weight 700
			border-top 1px solid #222
			padding-top 10px
			margin 0px
		.item-input
			padding 2em 10%
			.form-control
				font-size 14px
				border 0px
				border-bottom 1px solid #eaeaea
				border-radius 0px
				padding-left 0px
				margin-bottom 10px
				&:focus
					outline 0px none
					box-shadow none
			textarea.form-control
				border 1px solid #eaeaea
				padding 15px
				margin-bottom 30px
			label
				font-family 'Arsenal'
				font-weight 400
			.form-check
				font-size 17px
				font-family 'Arsenal'
				font-weight 400
				margin-bottom 20px
			.files
				label
					border 1px solid #712c85
					padding 5px 20px
					border-radius 20px
					font-family 'Arsenal'
					font-weight 400
					&:hover
						background #712c85
						color #fff
						cursor pointer
				span
					display block
					font-family 'Arsenal'
					font-weight 400
					font-size 14px
				#file
					height 0px
					overflow hidden
					padding 0px
					border 0px
			.terminos
				padding 1em 0px
				input
					margin-top 7px
				label
					font-weight 400
					font-size 16px
					a 
						text-decoration underline
						color #0d0d0d
						&:hover
							color #712c85
			.btn-morado
				background #712c85
				color #fff
				font-size 16px
				font-family 'Arsenal'
				font-weight 400
				padding 5px 15px 7px
				border-radius 25px
				margin 5px 0px 15px
				&:hover
					background #555
.alert
	width 100%
.alerta 
	position fixed
	display none
	top 0px
	bottom 0px
	right 0px
	left 0px
	background rgba(0,0,0,0.7)
	text-align center
	z-index 99
	transition .2s
	.content-alerta
		display table
		height 100%
		width 100%
		text-align center
		.box-alerta
			display table-cell
			vertical-align middle
			div
				max-width 400px
				background #fff
				padding 20px
				color #712c85
				margin 0px auto
				font-family 'Arsenal'
				font-weight 400
				h2
					font-size 20px
@media(max-width 414px)
	header
		.container-fluid
			padding 0px
		.logos
			a 
				img
					width 150px
			img
				margin-right 10px
	.row
		margin 0px
	.bg1
		margin 0px -15px
	.item
		h2
			text-align center !important