header
	.menu
		display none
#main
	background url('../img/fondo2.jpg')center no-repeat
	background-size cover
	background-attachment fixed
#scene01
	#frame01
		display table
		height 100%
		width 100%
		text-align center
		.wrapper
			display table-cell
			vertical-align middle
			.lista
				color #fff
				text-align center
				position relative
				margin-bottom 15px
				h1
					color #fff
					font-weight 700
					font-family 'Arial Black'
				p
						color #fff
						font-size 21px
						font-family 'Arsenal'
				.btn-morado
					background #712c85
					color #fff
					font-size 16px
					font-family 'Arsenal'
					font-weight 700
					padding 5px 15px 7px
					border-radius 25px
@media(max-width 414px)
	header
		.container-fluid
			padding 0px
		.logos
			a 
				img
					width 150px
			img
				margin-right 10px
	.row
		margin 0px