::-webkit-scrollbar{
  display:none;
}
#preload
	position fixed
	width 100%
	height 100%
	background #000
	z-index 99999
	margin 0px -15px
	@media(max-width 414px)
		margin 0px
	.cont
		display table
		text-align center
		height 100%
		width 100%
		text-align center
		div
			display table-cell
			vertical-align middle
			color #fff
			-webkit-animation mymove 3s /* Safari 4.0 - 8.0 */
			-webkit-animation-iteration-count infinite /* Safari 4.0 - 8.0 */
			animation mymove 3s
			transition-timing-function ease
			-webkit-transition-timing-function ease
			animation-iteration-count infinite
@keyframes mymove {
  from {
    color #fff
    transform scale(0.1)
  }
  to {
    color red
    transform scale(1)
  }
}
#main
	background url('../img/fondo.jpg')center no-repeat
	background-size cover
	background-attachment fixed
#scene01
	padding-top 85px
	#frame01
		display table
		height 100%
		width 100%
		text-align center
		.wrapper
			display table-cell
			vertical-align middle
			.movieWrpper
				position relative
				color #fff
				@media(max-width 414px)
					font-size 1.4rem
				.text1
					position absolute
					top 0px
					width 100%
					font-family 'Arsenal'
					font-weight 400
					@media (max-width 414px)
						position relative
					.imgn
						display none
				.text2
					position absolute
					bottom 0px
					width 100%
					font-family 'Arsenal'
					font-weight 400
					span
						font-weight 700
						color #ba770e
					@media (max-width 414px)
						position relative
				.movieMask
					width 100%
					-webkit-mask-image url(../img/mascara.svg)
					-webkit-mask-repeat no-repeat
					-webkit-mask-position center center
					mask url(../img/mascara.svg) no-repeat center center
					-webkit-mask-size 100% auto
					mask-size 100% auto
////////////pagina2
#scene02
	background url('../img/fondo2.jpg')center
	background-size cover
	img
		width 100%
	.texto-top
		margin-top -130px
		h2
			font-family 'Arial Black'
			font-weight bold
			text-align center
			font-size 45px
			color #fff
			line-height 45px
		@media(max-width 768px)
			margin-top 20px
			h2 
				font-size 40px
				line-height 40px
		@media(max-width 414px)
			margin-top 15px
			h2 
				font-size 20px
				line-height 20px
	.texto-reconocenos
		padding 25px
		color #fff
		text-align center
		p 
			font-size 16px
			font-family 'Arsenal'
			font-weight 400
		p.base
			font-size 15px
			a 
				color #712c85
				font-weight 700
		.btn-morado
			background #712c85
			color #fff
			font-size 16px
			font-family 'Arsenal'
			font-weight 700
			padding 5px 15px 7px
			border-radius 25px
			margin 5px 0px 15px
			&:hover
				background #555
////////////pagina3
#scene03
	background url('../img/bgv1.jpg')center no-repeat
	background-size cover
	.mv1
		max-width 100%
		-webkit-mask-image url('../img/mascara2.svg')
		-webkit-mask-repeat no-repeat
		-webkit-mask-position center center
		-webkit-mask-size 98% auto
		transition .5s
		-webkit-transition-timing-function ease
		-moz-transition-timing-function ease
		-o-transition-timing-function ease
		transition-timing-function ease
		&:hover
			-webkit-mask-position left center
	.texto-v
		text-align right
		color #fff
		padding-right 54px
		@media(max-width 414px)
			padding 0px 25px
			text-align left
		h2
			font-family 'Arial Black'
			font-size 5em
			position relative
			&:before
				content ''
				position absolute
				width 50%
				display block
				border 1px solid #d32218
				right -54px
				bottom -5px
				@media(max-width 414px)
					right auto
					left -25px
			@media(max-width 1024px)
				font-size 3em
			@media(max-width 414px)
				font-size 2em
		p 
			font-family 'Arsenal'
			font-weight 400
#scene04
	background url('../img/bgv2.jpg')center no-repeat
	background-size cover
	.mv2
		max-width 100%
		-webkit-mask-image url('../img/mascara3.svg')
		-webkit-mask-repeat no-repeat
		-webkit-mask-position right center
		-webkit-mask-size 98% auto
		transition .5s
		-webkit-transition-timing-function ease
		-moz-transition-timing-function ease
		-o-transition-timing-function ease
		transition-timing-function ease
		&:hover
			-webkit-mask-position 16px 0px
			//-webkit-mask-size 99% auto
	.direccion
		-webkit-flex-direction row-reverse
		flex-direction row-reverse
	.texto-v
		text-align left
		color #fff
		padding-left 54px
		@media(max-width 414px)
			padding 0px 25px
		h2
			font-family 'Arial Black'
			font-size 5em
			position relative
			&:before
				content ''
				position absolute
				width 50%
				display block
				border 1px solid #d32218
				left -54px
				bottom -5px
				@media(max-width 414px)
					right 0px
			@media(max-width 1024px)
				font-size 3em
			@media(max-width 414px)
				font-size 2em
		p 
			font-family 'Arsenal'
			font-weight 400
#scene05
	background url('../img/bgv1.jpg')center no-repeat
	background-size cover
	.mv1
		max-width 100%
		-webkit-mask-image url('../img/mascara4.svg')
		-webkit-mask-repeat no-repeat
		-webkit-mask-position left center
		-webkit-mask-size 98% auto
		transition .5s
		-webkit-transition-timing-function ease
		-moz-transition-timing-function ease
		-o-transition-timing-function ease
		transition-timing-function ease
		&:hover
			-webkit-mask-position -14px center
	.texto-v
		text-align right
		color #fff
		padding-right 54px
		@media(max-width 414px)
			padding 0px 25px
			text-align left
		h2
			font-family 'Arial Black'
			font-size 3.5em
			position relative
			&:before
				content ''
				position absolute
				width 50%
				display block
				border 1px solid #d32218
				right -54px
				bottom -5px
				@media(max-width 414px)
					right auto
					left -25px
			@media(max-width 1024px)
				font-size 2.5em
			@media(max-width 414px)
				font-size 2em
				margin-top 15px
		p 
			font-family 'Arsenal'
			font-weight 400
#scene06
	background url('../img/bgv2.jpg')center no-repeat
	background-size cover
	.mv2
		max-width 100%
		-webkit-mask-image url('../img/mascara5.svg')
		-webkit-mask-repeat no-repeat
		-webkit-mask-position right center
		-webkit-mask-size 98% auto
		transition .5s
		-webkit-transition-timing-function ease
		-moz-transition-timing-function ease
		-o-transition-timing-function ease
		transition-timing-function ease
		&:hover
			-webkit-mask-position 30px center
	.direccion
		-webkit-flex-direction row-reverse
		flex-direction row-reverse
	.texto-v
		text-align left
		color #fff
		padding-left 54px
		@media(max-width 414px)
			padding 0px 25px
		h2
			font-family 'Arial Black'
			font-size 3.5em
			position relative
			&:before
				content ''
				position absolute
				width 50%
				display block
				border 1px solid #d32218
				left -54px
				bottom -5px
				@media(max-width 414px)
					right 0px
			@media(max-width 1024px)
				font-size 2.5em
			@media(max-width 414px)
				font-size 2em
		p 
			font-family 'Arsenal'
			font-weight 400
.section
	#particles-js,#particles1,#particles2,#particles3
		position absolute
		top 0px
		bottom 0px
		left 0px
		right 0px
#scene07
	background url('../img/fondo4.jpg')center
	background-size cover
	h2
		font-family 'Arial Black'
		font-weight bold
		text-align right
		font-size 45px
		color #fff
		padding-bottom 4px
		padding-right 15px
		line-height 60px
		border-bottom 2px solid #fff
		margin-bottom 15px
		span
			font-family 'Arial'
			font-weight 400
	table
		tr 
			td 
				color #fff
				text-align right
				font-size 20px
				font-family 'Arsenal'
				font-weight 400
				border 0px
				@media(max-width 414px)
					font-size 16px
					padding 7px 3px
				span
					padding-left 15px
					@media(max-width 414px)
						padding-left 2px
				> div
					border-radius 25px
					text-align center
					padding 0px 15px
				.b1
					background #d02c25
				.b2 
					background #08856c
				.b3 
					background #f3a523
				.b4 
					background #641e7f
#scene08
	background url('../img/fondo5.jpg')center
	background-size cover
	h2
		font-family 'Arial Black'
		font-weight 700
		font-size 45px
		color #fff
		padding-bottom 4px
		padding-left 15px
		line-height 60px
		border-bottom 2px solid #fff
		margin-bottom 15px
		span
			font-family 'Arial'
			font-weight 400
	.owl-carousel
		.owl-nav
			.owl-prev, .owl-next
				position absolute
				top 40%
				background transparent
				font-size 20px
				padding 5px 11.3px
				border-radius 50%
				transition .5s
				&:hover
					background #712c85
					svg
						transform scale(0.9)
			.owl-prev
				left 0px
			.owl-next
				right 0px
		.item
			h4
				font-family 'Arsenal'
				font-weight 700
				font-style italic
				color #fff
				font-size 25px
				text-align center
				padding 20% 0px 10%
		.owl-dots
			.owl-dot
				&.active
					span
						background #712c85
#scene09
	background url('../img/fondo6.jpg')center
	background-size cover
	h2
		font-family 'Arial Black'
		font-weight bold
		font-size 45px
		color #fff
		padding-bottom 4px
		padding-left 15px
		line-height 60px
		border-bottom 2px solid #fff
		margin-bottom 15px
		span
			font-family 'Arial'
			font-weight 400
	.owl-carousel
		.owl-nav
			.owl-prev, .owl-next
				position absolute
				top 40%
				background transparent
				font-size 20px
				padding 5px 11.3px
				border-radius 50%
				transition .5s
				&:hover
					background #712c85
					svg
						transform scale(0.9)
			.owl-prev
				left 0px
			.owl-next
				right 0px
		.item
			h4
				font-family 'Arsenal'
				font-weight 700
				font-style italic
				color #fff
				font-size 25px
				text-align center
				padding 20% 0px 10%
		.owl-dots
			.owl-dot
				&.active
					span
						background #712c85
.anclas
	position absolute
	bottom 20px
	color #fff
	left 49%
	font-size 20px
	&:hover
		color #ddd
#fp-nav
	display none
	top 20%
	ul
		li 
			display none
			&:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6)
				display block
#footer
	margin-top -37px
	z-index 9
	position relative
@media(max-width 414px)
	header
		.container-fluid
			padding 0px
		.logos
			img
				margin-right 10px
	#main
		padding 0px
	.row
	 	margin 0px
	.img-p
		padding 0px