@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7gnwbu');
  src:  url('../fonts/icomoon.eot?7gnwbu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7gnwbu') format('truetype'),
    url('../fonts/icomoon.woff?7gnwbu') format('woff'),
    url('../fonts/icomoon.svg?7gnwbu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cabeza:before {
  content: "\e900";
  color: #fff;
}
.icon-candado:before {
  content: "\e901";
  color: #fff;
}
.icon-close:before {
  content: "\e902";
  color: #fff;
}
.icon-llave:before {
  content: "\e903";
  color: #fff;
}
.icon-oido:before {
  content: "\e904";
  color: #fff;
}
.icon-ojo:before {
  content: "\e905";
  color: #fff;
}
