@font-face
	font-family 'Arsenal'
	src url('../fonts/Arsenal-Regular.ttf')
	font-weight 400
	font-style normal
@font-face
	font-family 'Arsenal'
	src url('../fonts/Arsenal-Bold.ttf')
	font-weight 700
	font-style normal
@font-face
	font-family 'Arsenal'
	src url('../fonts/Arsenal-BoldItalic.ttf')
	font-weight 700
	font-style italic
@font-face
	font-family 'Arial'
	src url('../fonts/arial.ttf')
	font-weight 400
	font-style normal
header
	position fixed
	width 100%
	padding 5px 0px
	z-index 1
	.logos
		img
			margin-right 20px
		.logo-1
			display none
	.menu
		a
			color #fff
			.fa-bars
				font-size 20px
	&.bgmenu
		.logos
			img
				opacity 0
#showmenu
	background rgba(0,0,0,0.95)
	position fixed
	overflow hidden
	z-index 999
	top 0
	right 0
	display flex
	text-align center
	opacity 0
	width 0px
	height 100%
	align-items center
	transition .5s
	-webkit-transition-timing-function ease
	-moz-transition-timing-function ease
	-o-transition-timing-function ease
	transition-timing-function ease
	ul
		list-style none
		padding 0px
		margin 0px
		width 100%
		li 
			a 
				color #fff
				font-family 'Arial Black'
				font-weight 700
				font-size 2em
				line-height 1.8em
				position relative
				.fa-facebook-f
					font-size 20px
				&:before
					content ""
					position absolute
					display block
					width 40px
					border 2px solid #6e2984
					left -70px
					top 23px
					opacity 0
				&:hover
					text-decoration none
					color #6e2984
					&:before
						opacity 1
				@media( max-width 414px )
					font-size 1.5em
					&:before
						top 17px
	#cerramenu
		position absolute
		top 25px
		right 25px
		color #fff
		font-size 22px
		&:hover
			text-decoration none
.item-mas
	position fixed
	right 8px
	bottom 37px
	height 0 px
	overflow hidden
	transition height 2s
	z-index 99
	ul 
		list-style none
		margin 0px
		padding 0px
		li
			margin-bottom 10px
			text-align right
			transition .5s
			-webkit-transition-timing-function ease
			-moz-transition-timing-function ease
			-o-transition-timing-function ease
			transition-timing-function ease
			span
				display inline-block
				color #fff
			.list-text
				width 0px
				font-size 10px
				line-height 10px
				padding-right 8px
				opacity 0
				overflow hidden
				height 0px
				.masletra
					text-align left
					padding 0px 0px 0px 10px
					span
						font-size 12px
						float right
			.ipd-ico
				width 30px
				background rgba(223,41,28,1)
				padding 5px
				border-radius 50%
				font-size 20px
				transition .5s
			&:hover
				border-radius 25px
				padding 5px
				background rgba(228,44,28,1)
				background -moz-linear-gradient(top, rgba(228,44,28,1) 0%, rgba(181,7,24,1) 100%)
				background -webkit-gradient(left top, left bottom, color-stop(0%, rgba(228,44,28,1)), color-stop(100%, rgba(181,7,24,1)))
				background -webkit-linear-gradient(top, rgba(228,44,28,1) 0%, rgba(181,7,24,1) 100%)
				background -o-linear-gradient(top, rgba(228,44,28,1) 0%, rgba(181,7,24,1) 100%)
				background -ms-linear-gradient(top, rgba(228,44,28,1) 0%, rgba(181,7,24,1) 100%)
				background linear-gradient(to bottom, rgba(228,44,28,1) 0%, rgba(181,7,24,1) 100%)
				cursor pointer
				.list-text
					opacity 1
					width 147px
					height auto
				.ipd-ico
					background transparent
					font-size 30px
					padding 0px
				
#footer-top
	position fixed
	right 0px
	bottom 0px
	z-index 999
	.triangulo
		transition .5s
		width 80px
		height 80px
		text-align right
		display block
		background rgba(223,41,28,1)
		-moz-border-radius  100% 0 0 0
		-webkit-border-radius  100% 0 0 0
		border-radius  100% 0 0 0
		a
			transition .5s
		img 
			padding 28px 7px 0 0
		#menositem
			display none
			text-decoration none
			span
				font-size 40px
				padding 28px 12px 0 0
				display block
#footer
	background #712c85
	font-size 12px
	font-weight 400
	padding 10px 0px
	color #fff
	a 
		font-style italic
		color #fff
@media(max-width 414px)
	#footer-top 
		.triangulo
			width 50px
			height 50px
			img
				padding 9px 0px 0px 0px
				transform scale(0.6)
			#menositem span
				font-size 29px
				padding 18px 4px 0 0
	.item-mas
		bottom 7px