header
	.logos
		img
			opacity 0
#main
	background url('../img/fondo2.jpg')center no-repeat
	background-size cover
	background-attachment fixed
#scene01
	#frame01
		display table
		height 100%
		width 100%
		text-align center
		.anclas
			position absolute
			bottom 20px
			color #fff
			left 49%
			font-size 20px
		.wrapper
			display table-cell
			vertical-align middle
			.lista
				color #fff
				font-size 16px
				font-family 'Arsenal'
				font-weight 400
				text-align left
				position relative
				margin-bottom 15px
				div
					span
						font-size 30px
						font-weight 700
						font-family 'Arial Black'
						@media(max-width 414px)
							font-size 20px
					.text-amarillo
						color #f2a123
						font-size 21px
						font-family 'Arsenal'
				.btn-morado
					background #712c85
					color #fff
					font-size 16px
					font-family 'Arsenal'
					font-weight 700
					padding 5px 15px 7px
					border-radius 25px
@media(min-width  768px)
	#footer
		position absolute
		bottom 0px
		width 100%