header
	.logos
		height 50px
		img
			
			display none
#main
	background url('../img/fondo2.jpg')center no-repeat
	background-size cover
	background-attachment fixed
	@media(max-width 736px)
		background-attachment cover
#scene01
	padding-top 50px
	@media(max-width 736px)
		margin-bottom 50px
	#registro
		display table
		height 100%
		width 100%
		text-align center
		.wrapper
			display table-cell
			vertical-align middle
			font-family 'Arsenal'
			font-weight 400
			.atras
				color #fff
				text-decoration none
				font-size 14px
				margin-bottom 10px
				display block
				span
					font-size 16px
			.box-registro
				background url('../img/fondo3.jpg')center no-repeat
				background-size cover
				padding 20px 50px 30px
				box-shadow 0px 0px 4px #222
				.imgn
					display none
				h4
					font-size 18px
					font-weight 700
					margin-bottom 0px
				h3
					color #f2a123
					font-size 20px
					font-weight 700
					margin-bottom 20px
				form
					padding 0px 20px
					@media(max-width 736px)
						margin-bottom 20px
					&:before
						content ""
						position absolute
						width 1px
						display block
						border-right 1px solid #ddd
						top 15px
						bottom 15px
						right 0px
						@media(max-width 736px)
							display none
				.form-control
					font-size 12px
					border 0px
					border-bottom 1px solid #eaeaea
					border-radius 0px
					padding-left 0px
					margin-bottom 10px
					&:focus
						outline 0px none
						box-shadow none
				.btn
					margin 0px auto
					max-width 220px
					font-weight 700
					color #fff
					font-size 13px
					font-family 'Arsenal'
					padding 5px 15px 7px
					border-radius 25px
					display block
				.btn-morado
					background #712c85
					&:hover
						background #555
				.btn-facebook
					background #2d428b
					font-size 13px
					margin-bottom 15px
				.btn-gmail
					background #d32218
					font-size 13px
					margin-bottom 15px