header
	.menu
		display none
#main
	background url('../img/fondo2.jpg')center no-repeat
	background-size cover
	background-attachment fixed
#scene01
	padding-top 150px
	#frame01
		display table
		height 100%
		width 100%
		.wrapper
			display table-cell
			vertical-align middle
			.lista
				color #fff
				position relative
				margin-bottom 15px
				h1
					color #fff
					font-weight 700
					font-family 'Arial Black'
					text-align center
				p
						color #fff
						font-size 16px
						font-family 'Arsenal'
						font-weight 400
@media(max-width 414px)
	header
		.container-fluid
			padding 0px
		.logos
			a 
				img
					width 150px
			img
				margin-right 10px
	// .row
	// 	margin 0px